__pycache__/
*.ipynb
*.csv
*.log
*.mp4
*.avi
*.jpg
*.png
*.zip
*.tar
*.gz
*.db
*.DS_Store
*.pt
*.bin
*.h5
node_modules/
.vscode/
.git/
venv/
input/
output/
.cache/
*.pyc
__pycache__/
.cache/
.config/
.pip/
venv/
*.log
input/
output/
